<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a th:href="@{/create-artist}">Tạo nghệ sĩ mới</a>
</p>
<h1>Tất cả nghệ sĩ</h1>
<table border="1">
    <tr>
        <td>Ảnh đại diện</td>
        <td>Tên nghệ sĩ</td>
        <td>Ngày sinh</td>
        <td>Quê quán</td>
        <td>Fanpage</td>
        <td>Nghề nghiệp</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    <th:block th:each="artist : ${artists}">
        <tr>
            <td>
                <img width="100" height="100" th:src="@{${'/image/'+artist.image}}">
            </td>
            <td th:text="${artist.name}"></td>
            <td th:text="${artist.dob}"></td>
            <td th:text="${artist.countryside}"></td>
            <td><a th:href="${artist.fanpage}">Link</a></td>
            <td th:text="${artist.getJob().name}"></td>
            <td><a th:href="@{/edit-artist/__${artist.id}__}">Edit</a></td>
            <td><a th:href="@{/delete-artist/__${artist.id}__}">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>